.place-name {
  width: 350px;
  line-height: 28px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lora";
  margin-bottom: 20px;
}

.place-contact,
.place-address,
.place-metro {
  line-height: 24px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: normal;
}

.place-address {
  margin-top: 20px;
}
